    <header class="u-clearfix u-header u-sticky u-sticky-2ad6 u-white u-header" id="sec-5852"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1">
          <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="height: 24px; color: currentcolor !important;">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 91 91" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c01c"></use></svg>
              <svg class="u-svg-content" viewBox="0 0 91 91" id="svg-c01c"><g><path d="M85.713,12.142H5.861c-2.305,0-4.174-1.869-4.174-4.176c0-2.305,1.869-4.174,4.174-4.174h79.852   c2.305,0,4.174,1.869,4.174,4.174C89.887,10.273,88.018,12.142,85.713,12.142z" fill="currentColor"></path><path d="M85.713,49.858H5.861c-2.305,0-4.174-1.869-4.174-4.175c0-2.307,1.869-4.176,4.174-4.176h79.852   c2.305,0,4.174,1.869,4.174,4.176C89.887,47.989,88.018,49.858,85.713,49.858z" fill="currentColor"></path><path d="M85.713,87.571H5.861c-2.305,0-4.174-1.869-4.174-4.176s1.869-4.176,4.174-4.176h79.852   c2.305,0,4.174,1.869,4.174,4.176S88.018,87.571,85.713,87.571z" fill="currentColor"></path>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-black u-border-hover-black u-button-style u-nav-link u-text-active-grey-90 u-text-black u-text-hover-grey-90" href="Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-black u-border-hover-black u-button-style u-nav-link u-text-active-grey-90 u-text-black u-text-hover-grey-90" href="#" style="padding: 10px 20px;">T-shirt</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-black u-border-hover-black u-button-style u-nav-link u-text-active-grey-90 u-text-black u-text-hover-grey-90" href="#" style="padding: 10px 20px;">Product Detail</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-black u-border-hover-black u-button-style u-nav-link u-text-active-grey-90 u-text-black u-text-hover-grey-90" href="#" style="padding: 10px 20px;">Hoodie</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 10px 20px;">T-shirt</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 10px 20px;">Product Detail</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 10px 20px;">Hoodie</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>

<style class="u-sticky-style" data-style-id="2ad6">.u-sticky-fixed.u-sticky-2ad6, .u-body.u-sticky-fixed .u-sticky-2ad6 {
box-shadow: 0 2px 28px 0 rgba(128,128,128,1) !important
}</style>

</header>
