    <section class="u-align-center u-clearfix u-section-2" id="carousel_3308">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-1">Related Products</h2>
        <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1">
                <img src="images/1712550709_2_4_16.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1900" data-image-height="2532">
                <h5 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-2">Sample Headline</h5>
                <h3 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-3">$ 90</h3>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2">
                <img src="images/6903603702_1_1_16.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-2">
                <h5 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-4">Sample Headline</h5>
                <h3 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-5">$ 200</h3>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-3">
                <img src="images/1760550700_2_1_16.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-3">
                <h5 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-6">Sample Headline</h5>
                <h3 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-7">$ 90</h3>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-4">
                <img src="images/6921619700_1_1_16.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-4">
                <h5 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-8">Sample Headline</h5>
                <h3 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-9">$ 250</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
